html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainRenderBody {
    min-height: 88vh;
}
/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.mainbody {
    font-family: Arial, sans-serif;
}

.hello {
    text-align: center;
    padding: 150px 0;
    color: black;
}

/*********** start of navbar code ************/
:root {
    --navbar-height: 56px;
    --navbar-background-color: white;
    --navbar-item-text-color: #888888;
    --navbar-item-background-color: var(--navbar-background-color);
    --navbar-item-text-color-hover: rebeccapurple;
    --navbar-item-font: bold 1rem/1rem "Open Sans", Arial, Helvetica, sans-serif;
    --navbar-item-background-color-hover: dimgray;
    --navbar-font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    font-family: var(--navbar-font-family);
    z-index: 9999;
    
}

.navbar #togglericon {
    visibility: hidden;
}

    .navbar #togglericon:after {
        content: "☰";
        position: absolute;
        visibility: visible;
        color: black;
        font-size: 1.5rem;
        width: 1.8rem;
        height: 1.8rem;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 1.8rem;
        border-radius: 4px;
        border: 2px solid #ffffff00;
    }

    .navbar #togglericon:checked:after {
        color: black;
        border: 2px solid #f0f0f0;
    }

.nav {
    position: fixed;
    top: 40px;
    left: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    padding: 8px;
    transition: all 0.5s ease;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-background-color);
    box-shadow: 0px 4px 4px 0px #00000088;
}

.navbar #togglericon:checked ~ div.nav {
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
}

.nav a {
    padding: 8px;
    font: var(--navbar-item-font);
    text-decoration: none;
    color: var(--navbar-item-text-color);
    cursor: pointer;
}

    .nav a:hover {
        color: var(--navbar-item-text-color-hover);
    }

.nav p {
    margin: 0;
    padding: 8px;
    color: var(--navbar-item-text-color);
}

.dropdown {
    position: relative;
    display: block;
    color: var(--navbar-item-text-color);
    font: var(--navbar-item-font);
    cursor: pointer;
}

    .dropdown label {
        display: block;
        padding: 8px;
        cursor: pointer;
    }

        .dropdown label:after {
            position: absolute;
            content: "▼";
            color: var(--navbar-item-text-color);
            font-size: 0.75rem;
            top: 8px;
            margin-left: 4px;
        }

        .dropdown label:hover {
            color: var(--navbar-item-text-color-hover);
        }

            .dropdown label:hover:after {
                color: var(--navbar-item-text-color-hover);
            }

    .dropdown input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

        .dropdown input:checked ~ ul {
            max-height: 500px;
            transition: max-height 0.5s ease;
            margin: 16px 0;
        }

    .dropdown ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.25s ease;
    }

    .dropdown li {
        margin: 12px 0px 12px 16px;
    }

    .dropdown a {
        color: black;
        text-decoration: none;
        font-weight: normal;
    }

.navbar form button {
    background-color: white;
    border: 1px solid #bbbbbb;
    padding: 4px;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
    cursor: pointer;
}

    .navbar form button:hover {
        background-color: #bbbbbb;
    }

.brand {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    background-color: var(--navbar-background-color);
    visibility: visible;
    top: 0;
    left: 22.5%;
    width: 50%;
    background-color: transparent;
}

/* helpers */
.navbar-centered {
    justify-content: center;
}

@media (min-width: 768px) {
    .navbar #togglericon:checked ~ div.nav,
    .navbar #togglericon ~ div.nav {
        visibility: visible;
    }

    .navbar {
        height: var(--navbar-height);
        background-color: var(--navbar-background-color);
        flex-direction: row;
        display: flex;
        visibility: visible;
        position: fixed;
        left: 0;
        top: 0;
        opacity: 1;
        width: 100%;
        box-shadow: 0px 1px 5px 0px #88888888;
    }

    .toggler {
        display: none;
    }

    .navbar form {
        border-top: 0px;
        border-bottom: 0px;
        padding: 8px;
    }

    .nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0;
        opacity: 1;
        box-shadow: none;
        background-color: #ffffff00; /* transparent */
    }

    .at-center {
        position: absolute;
    }

    .at-right {
        position: absolute;
        justify-content: flex-end;
    }

    .dropdown {
        margin: 0 8px;
    }

        .dropdown ul li {
            width: 100%;
            margin: 4px;
            padding: 0;
            display: flex;
        }

            .dropdown ul li a {
                padding: 8px;
                margin: 0;
                display: block;
                width: 100%;
                white-space: nowrap;
            }

    .navbar form {
        margin-top: 0px;
    }

    .brand {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        visibility: visible;
        margin: 0;
        padding: 0;
        left: 0;
        transform: translate(0, 0);
        white-space: nowrap;
        margin-left: 50px;
    }
}
/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the label */
#dropdown-label {
    cursor: pointer;
    padding: 10px;
    color: #888888;
    border-radius: 5px;
}

    #dropdown-label:hover {
        color: #663399;
    }
/* Style for the hidden checkbox */
#toggle-1 {
    display: none;
}

/* Style for the dropdown content */
#dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    margin-top: -5px;
}

@media (max-width: 730px) {
    #dropdown-content {
        list-style: none;
        position: relative;
    }
}
/* Style for the list items */
#dropdown-content li {
    padding: 10px;
    list-style: none;
}

    /* Hover effect for list items */
    #dropdown-content li:hover {
        background-color: #f0f0f0;
    }

/* Show the dropdown when the checkbox is checked */
#toggle-1:checked + #dropdown-content {
    opacity: 1;
    visibility: visible;
}
/* Show the dropdown when the checkbox is checked */
#toggle-2:checked + #dropdown-content {
    opacity: 1;
    visibility: visible;
}

.amain {
    background-color: transparent;
}

@media (min-width: 1200px) {
    .nav {
        justify-content: center;
    }

        .nav * {
            margin: 0px 8px;
        }

    .navbar form {
        margin-top: 0;
    }
}

@media (max-width: 730px) {
    .brand {
        display: none;
    }
}

@media (min-width: 730px) {
    .brand {
        margin-left: -50px;
        align-items: center;
        visibility: visible;
        justify-content: center;
    }
}

.input-minimal {
    border: none;
    border-bottom: 2px solid #3498db;
    padding: 10px;
    font-size: 18px;
    transition: border-color 0.3s;
}

    .input-minimal:focus {
        border-color: #e74c3c;
    }

/* Footer Styles */
.mainfooter {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

/* Style the social icons */
.social-icons {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    color: #007BFF;
    font-size: 24px;
    margin: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
color: #0056b3;
}