.basic-subscription-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; /* Add a background color for better visual separation */
    padding: 20px;
}

.basic-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    max-width: 900px;
    min-height:250px;
}

    .basic-feature:hover {
        transform: scale(1.05); /* Scale the box on hover to make it slightly larger */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover for a lift effect */
    }

.basic-subscription-img {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
}

.basic-feature-text {
    padding: 20px;
    text-align: center;
}

.basic-subscription-details {
    text-align: center;
    margin: 20px;
    margin-top: 50px;
}

/* Buy Now Container Styles */
.buy-now-container {
    text-align: center;
    margin: 20px;
}

/* Buy Now Button Styles (previously defined) */

/* Buy Now Description Styles */
.buy-now-description {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

/* CSS */
.button-71 {
    background-color: #7012b3;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-71:before {
        background-color: initial;
        background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
        border-radius: 125px;
        content: "";
        height: 50%;
        left: 4%;
        opacity: .5;
        position: absolute;
        top: 0;
        transition: all .3s;
        width: 92%;
    }

    .button-71:hover {
        box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
        transform: scale(1.05);
    }

@@media (min-width: 768px) {
    .button-71 {
        padding: 16px 48px;
    }
}
