body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.left-panel {
    width: 30%;
    height: 80vh;
    background-color: lightblue;
    margin: 5px;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.right-panel {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-right {
    height: 29vh;
    background-color: lightgreen;
    margin: 5px;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bottom-right {
    height: 50vh;
    background-color: lightcoral;
    margin: 5px;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    /* Apply styles when the viewport is 768 pixels or smaller */
    .container {
        flex-direction: column; /* Stack items vertically */
    }

    .left-panel,
    .right-panel {
        width: 100%;
    }
}


.containerPanel {
    width: 100%;
    max-width: 1200px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column; /* Default to a column layout */
}

.topPanel-panel {
    background-color: #f0f0f0;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    min-height: 40vh;
}

.bottomPanel-panel {
    display: flex;
    flex-direction: row;
}

.bottomPanel-left,
.bottomPanel-right {
    flex: 1; 
    padding: 20px;
}

.bottomPanel-left {
    background-color: #f0f0f0;
    color: #fff;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    min-height: 40vh;
}

.bottomPanel-right {
    background-color: #f0f0f0;
    color: #fff;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    min-height: 40vh;
}
@media (max-width: 768px) {
    .bottomPanel-panel {
        flex-direction: column; /* Stack items vertically */
    }

    .bottomPanel-left,
    .bottomPanel-right {
        width: 100%;
    }
}