@model EnterpriseMaster.DbServices.Models.Database.EnterprisePlan
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/subscriptions.css" rel="stylesheet" type="text/css">
<br />
<br />
<div class="basic-subscription-details">
    <h1>Essential Features for Enterprise</h1>
    <p>Ideal for large enterprises. Elevate your enterprise with additional advanced features.</p>
</div>
<div class="basic-subscription-container">
    <div class="basic-subscription-container">
        <div class="basic-feature">
            @if (Model.EnterprisePlanImage != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.EnterprisePlanImage)" alt="Basic Financial Management">
            }
            <div class="basic-feature-text">
                <h2>Enterprise Plan</h2>
                <p>Upgrade to the Enterprise Plan to unlock a world of possibilities. You'll get access to all the features from the Basic Plan, including essential tools for small businesses. Additionally, you can harness the power of advanced features available in the Professional Plan, such as CRM, advanced Financial Management, enhanced inventory management, powerful marketing tools, and comprehensive reporting and analytics.</p>
            </div>
        </div>

        <div class="basic-feature enterprise-feature">
            <div class="basic-feature-text">
                <h2>Production Management</h2>
                <p>Optimize production processes, plan, and monitor progress efficiently. Our Production Management module ensures streamlined production operations and enhanced productivity.</p>
            </div>
            @if (Model.ProductionManagement != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.ProductionManagement)" alt="Basic Financial Management">
            }
        </div>

        <!-- Spacing -->
        <div style="height: 20px;"></div>

        <div class="basic-feature enterprise-feature">
            @if (Model.HumanResources != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.HumanResources)" alt="Basic Financial Management">
            }
            <div class="basic-feature-text">
                <h2>Human Resources (HR)</h2>
                <p>Cover all aspects of HR management, including recruitment, salaries, employee evaluations, and reporting. Simplify HR processes and ensure the well-being of your workforce.</p>
            </div>
        </div>

        <!-- Spacing -->
        <div style="height: 20px;"></div>

        <div class="basic-feature enterprise-feature">
            <div class="basic-feature-text">
                <h2>Analytics & Reporting</h2>
                <p>Access comprehensive data analysis, report generation, and visual charts to make informed decisions. Our Analytics & Reporting tools provide insights into your business's performance and trends.</p>
            </div>
            @if (Model.AnalyticsReporting != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.AnalyticsReporting)" alt="Basic Financial Management">
            }
        </div>

    </div>
</div>
<div class="subscription-container-pay">
    <div class="buy-now-container">
        <button class="button-71">Buy Now</button>
        <p class="buy-now-description">Get started with these essential features for your small business.</p>
    </div>
</div>