@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/faq.css" rel="stylesheet" type="text/css">
<div class="faqDiv">
    <div class="containerFaq">
        <h1>Frequently Asked Questions</h1>
        <br />
        <div class="faq-item">
            <div class="faq-question">1. How do I create an account?</div>
            <div class="faq-answer">To create an account, click on the "Register" button at the top right corner of the page and follow the instructions provided.</div>
        </div>

        <div class="faq-item">
            <div class="faq-question">2. What payment methods do you accept?</div>
            <div class="faq-answer">We accept credit cards (Visa, MasterCard, American Express) and PayPal as payment methods.</div>
        </div>

        <div class="faq-item">
            <div class="faq-question">3. How long does shipping take?</div>
            <div class="faq-answer">Shipping times may vary depending on your location. Typically, orders are delivered within 5-7 business days.</div>
        </div>

        <div class="faq-item">
            <div class="faq-question">4. What is your return policy?</div>
            <div class="faq-answer">Our return policy allows you to return items within 30 days of purchase for a full refund. Please see our Return and Refund Policy for more details.</div>
        </div>

        <div class="faq-item">
            <div class="faq-question">5. Do you offer international shipping?</div>
            <div class="faq-answer">Yes, we offer international shipping to many countries. Shipping costs and times may vary depending on the destination.</div>
        </div>
    </div>

</div>