@using BlazorBootstrap
@inherits LayoutComponentBase

<style>
    /* Sidebar container styles */
    .sidebar1 {
        width: 60px; /* Initial width when not hovered */
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 2;
    }

    /* Sidebar content styles */
    .sidebar-content {
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    /* Sidebar item styles */

    .sidebar-item:hover{
        background-color: #6c757d;
        border-radius: 10px;
        border-color: #e9ecef #e9ecef #dee2e6;
        isolation: isolate
    }
    .sidebar-item {
        padding: 10px;
        display: flex;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

    /* Icon styles */
    .sidebar-item i {
        font-size: 20px;
    }

    /* Text styles (hide by default) */
    .sidebar-item span {
        display: none;
    }
    
    /* Expand the sidebar on hover */
    .sidebar1:hover {
        width: 250px; /* Expanded width */
    }

    /* Show text when sidebar is expanded */
    .sidebar1:hover .sidebar-item span {
        display: block;
        margin-left:10px;
        margin-top: 2px;
    }

    /* Sidebar2 styles */
    .sidebar2 {
        width: calc(100% - 60px); /* Adjust the width based on your sidebar1 width */
        margin-left: 60px; /* Set to the same width as sidebar1 */
        transition: 0.3s;
        position: relative; /* Add relative positioning */
    }

    .page {
        display: flex;
    }
    .topbar{
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }
</style>
<div class="page">
    <div class="sidebar1" id="sidebar1">
        <div class="sidebar-content">
            <NavMenu />
        </div>
         
    </div>
    <div class="sidebar2">
        <main>
            <div class="top-row px-4 topbar">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>
