@using BlazorBootstrap
@using EnterpriseMaster.DbServices.Models.Database;
@using EnterpriseMaster.DesktopApp.Data.Services.LoginService;
@using EnterpriseMaster.DesktopApp.Data.Services.MainLayout;
@inherits LayoutComponentBase
@inject MainLayoutService mainLayoutService;
@inject LoginService loginService
<link href="css/global.css" rel="stylesheet" />
@if(Config.IsLoggedIn != true)
{
    <div class="divLogin">
        <section class="section1">
            <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>

            <div class="signin1">

                <div class="content1">
                    <div class="loginLogo">
                        @if (mainPagesModel.Logo != null)
                        {
                            <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(mainPagesModel.Logo)" alt="Sales">
                        }
                        else
                        {
                            <p>Loading...</p>
                        }
                    </div>

                    <div class="form1">

                        <div class="inputBox">

                            <input type="text" @bind="email" required> <i>Username</i>

                        </div>

                        <div class="inputBox">

                            <input type="password" @bind="password" required> <i>Password</i>

                        </div>

                        <div class="links1">
                            <a href="#">Forgot Password</a> <a style="color:#7012b3;" href="#">SignUp</a>

                        </div>

                        <div class="inputBoxButton">

                            <button class="button-71" type="submit" value="Login" @onclick="LoginClicked">Login</button>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
}
else
{
    <div class="sidebar @sidebarClass">
        <div class="logo-details">
            <i style="color:#7012b3;">EM</i>
            <span class="logo_name">
                @if (mainPagesModel.Logo != null)
                {
                    <img class="basic-subscription-imgage" src="data:image;base64,@Convert.ToBase64String(mainPagesModel.Logo)" alt="Sales">
                }
            </span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Category</a></li>
                </ul>
            </li>
            @*<li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Category</a></li>
                    <li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>
                </ul>
            </li>*@
            @*<li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Posts</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Posts</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Login Form</a></li>
                    <li><a href="#">Card Design</a></li>
                </ul>
            </li>*@
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">Analytics</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Analytics</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-line-chart'></i>
                    <span class="link_name">Chart</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Chart</a></li>
                </ul>
            </li>
            @*<li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-plug'></i>
                        <span class="link_name">Plugins</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Plugins</a></li>
                    <li><a href="#">UI Face</a></li>
                    <li><a href="#">Pigments</a></li>
                    <li><a href="#">Box Icons</a></li>
                </ul>
            </li>*@
            <li>
                <a href="#">
                    <i class='bx bx-compass'></i>
                    <span class="link_name">Explore</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Explore</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Kamil Szywala</div>
                        <div class="job">Web Developer</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' @onclick="ToggleSidebar"></i>
        </div>
    </section>
}

@code {
    private string email;
    private string password;
    private bool isSidebarClosed = true;
    private string sidebarClass => isSidebarClosed ? "close" : "";

    private List<ArrowInfo> arrows = new List<ArrowInfo>();
    private MainPages? mainPagesModel { get; set; } = new MainPages();

    private class ArrowInfo
    {
        public string Text { get; set; }
        public bool IsMenuVisible { get; set; }
    }

    private void ToggleSidebar()
    {
        isSidebarClosed = !isSidebarClosed;
    }

    private void ToggleArrow(ArrowInfo arrow)
    {
        arrow.IsMenuVisible = !arrow.IsMenuVisible;
    }

    private async Task LoginClicked()
    {
        Config.IsLoggedIn = await loginService.AuthenticateAsync(email, password);
    }

    protected override async Task OnInitializedAsync()
    {
        mainPagesModel = await mainLayoutService.GetMainPagesModel();
        // Initialize your arrows list here
        arrows.Add(new ArrowInfo { Text = "Dashboard", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Category", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Posts", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Analytics", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Chart", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Plugins", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Explore", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "History", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Setting", IsMenuVisible = false });
    }
}