@using BlazorBootstrap
@using EnterpriseMaster.DbServices.Models.Database;
@using EnterpriseMaster.DesktopApp.Data.Services.LoginService;
@using EnterpriseMaster.DesktopApp.Data.Services.MainLayout;
@inherits LayoutComponentBase
@inject MainLayoutService mainLayoutService;
@inject LoginService loginService
<link href="css/global.css" rel="stylesheet" />
@if(Config.IsLoggedIn != true)
{
    <div class="divLogin">
        <section class="section1">
            <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>

            <div class="signin1">

                <div class="content1">
                    <div class="loginLogo">
                        @if (mainPagesModel.Logo != null)
                        {
                            <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(mainPagesModel.Logo)" alt="Sales">
                        }
                    </div>

                    <div class="form1">

                        <div class="inputBox">

                            <input type="text" @bind="email" required> <i>Username</i>

                        </div>

                        <div class="inputBox">

                            <input type="password" @bind="password" required> <i>Password</i>

                        </div>

                        <div class="links1">
                            <a href="#">Forgot Password</a> <a style="color:#7012b3;" href="#">SignUp</a>

                        </div>

                        <div class="inputBoxButton">

                            <button class="button-71" type="submit" value="Login" @onclick="LoginClicked">Login</button>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
}
else
{
    <div class="sidebar @sidebarClass">
        <div class="logo-details">
            <i style="color:#7012b3;">EM</i>
            <span class="logo_name">
                @if (mainPagesModel.Logo != null)
                {
                    <img class="basic-subscription-imgage" src="data:image;base64,@Convert.ToBase64String(mainPagesModel.Logo)" alt="Sales">
                }
            </span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">
                    <i><iconify-icon icon="material-symbols:dashboard-outline" rotate="180deg"></iconify-icon></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Dashboard</a></li>
                </ul>
            </li>
            @*<li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Category</a></li>
                    <li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>
                </ul>
            </li>*@
            @*<li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Posts</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Posts</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Login Form</a></li>
                    <li><a href="#">Card Design</a></li>
                </ul>
            </li>*@
            <li>
                <a href="/orders">
                    <i><iconify-icon icon="material-symbols:draft-orders-outline"></iconify-icon></i>
                    <span class="link_name">Orders</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Orders</a></li>
                </ul>
            </li>
            <li>
                <a href="/finance">
                    <i><iconify-icon icon="streamline:shopping-jewelry-diamond-2-diamond-money-payment-finance-wealth"></iconify-icon></i>
                    <span class="link_name">Finance</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Finance</a></li>
                </ul>
            </li>
            <li>
                <a href="/offers">
                    <i><iconify-icon icon="mdi:offer"></iconify-icon></i>
                    <span class="link_name">Create Offers</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Create Offers</a></li>
                </ul>
            </li>
            <li>
                <a href="/inventory">
                    <i><iconify-icon icon="fluent-mdl2:product-variant"></iconify-icon></i>
                    <span class="link_name">Inventory</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Inventory</a></li>
                </ul>
            </li>
            <li>
                <a href="/invoices">
                    <i><iconify-icon icon="iconamoon:invoice"></iconify-icon></i>
                    <span class="link_name">Invoices</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Invoices</a></li>
                </ul>
            </li>
            <li>
                <a href="/sales">
                    <i><iconify-icon icon="icon-park-outline:sales-report"></iconify-icon></i>
                    <span class="link_name">Sales</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Sales</a></li>
                </ul>
            </li>
            <li>
                <a href="/analytics">
                    <i><iconify-icon icon="grommet-icons:analytics"></iconify-icon></i>
                    <span class="link_name">Analytics</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Analytics</a></li>
                </ul>
            </li>
            <li>
                <a href="/hr">
                    <i><iconify-icon icon="grommet-icons:resources"></iconify-icon></i>
                    <span class="link_name">Human Resources</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Human Resources</a></li>
                </ul>
            </li>
            <li>
                <a href="/production">
                    <i><iconify-icon icon="streamline:money-graph-bar-increase-up-product-performance-increase-arrow-graph-business-chart"></iconify-icon></i>
                    <span class="link_name">Production</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Production</a></li>
                </ul>
            </li>
            <li>
                <a href="/accounting">
                    <i><iconify-icon icon="material-symbols:account-tree-outline"></iconify-icon></i>
                    <span class="link_name">Accounting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Accounting</a></li>
                </ul>
            </li>
            <li>
                <a href="/customerdata">
                    <i><iconify-icon icon="carbon:user-data"></iconify-icon></i>
                    <span class="link_name">Customer Data</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Customer Data</a></li>
                </ul>
            </li>
            <li>
                <a href="/salesactivities">
                    <i><iconify-icon icon="mdi:sale-outline"></iconify-icon></i>
                    <span class="link_name">Sales Activities</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Sales Activities</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Kamil Szywala</div>
                        <div class="job">Web Developer</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' @onclick="ToggleSidebar"></i>
        </div>
        <div style="margin: 10px;">
            @Body
        </div>
    </section>
}
<Preload />
@code {
    private string email;
    private string password;
    private bool isSidebarClosed = true;
    private string sidebarClass => isSidebarClosed ? "close" : "";

    private List<ArrowInfo> arrows = new List<ArrowInfo>();
    private MainPages? mainPagesModel { get; set; } = new MainPages();

    [Inject] protected PreloadService preloadService { get; set; }

    private class ArrowInfo
    {
        public string Text { get; set; }
        public bool IsMenuVisible { get; set; }
    }

    private void ToggleSidebar()
    {
        isSidebarClosed = !isSidebarClosed;
    }

    private void ToggleArrow(ArrowInfo arrow)
    {
        arrow.IsMenuVisible = !arrow.IsMenuVisible;
    }

    private async Task LoginClicked()
    {
        preloadService.Show(SpinnerColor.Dark);
        Config.IsLoggedIn = await loginService.AuthenticateAsync(email, password);
        await Task.Delay(3000);
        preloadService.Hide();
    }

    protected override async Task OnInitializedAsync()
    {
        preloadService.Show(SpinnerColor.Dark);
        mainPagesModel = await mainLayoutService.GetMainPagesModel();
        // Initialize your arrows list here
        arrows.Add(new ArrowInfo { Text = "Dashboard", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Category", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Posts", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Analytics", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Chart", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Plugins", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Explore", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "History", IsMenuVisible = false });
        arrows.Add(new ArrowInfo { Text = "Setting", IsMenuVisible = false });
        preloadService.Hide();
    }
}