body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.left-panel {
    width: 30%;
    height: 80vh;
    background-color: lightblue;
    margin: 5px;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.right-panel {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-right {
    height: 29vh;
    background-color: lightgreen;
    margin: 5px;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bottom-right {
    height: 50vh;
    background-color: lightcoral;
    margin: 5px;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    /* Apply styles when the viewport is 768 pixels or smaller */
    .container {
        flex-direction: column; /* Stack items vertically */
    }

    .left-panel,
    .right-panel {
        width: 100%;
    }
}
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical; /* Allow vertical resizing */
}
