.dashboardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; /* Adjust the gap as needed */
    width: 100%; /* Set the total width of the grid to 100% of the container */
    height: 90vh; /* Set the total height of the grid to 100% of the viewport height */
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}
/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 767px) {
    .dashboardGrid {
        grid-template-columns: 1fr;
        height: 100%;
    }
}
.dashboardBox1, .dashboardBox2, .dashboardBox3, .dashboardBox4 {
    justify-content: center;
    align-items: center;
    min-height: 0; /* Allow divs to shrink vertically as needed */
    border-radius: 7px;
    min-height: 300px;
    /*box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.3s;
    overflow-y: auto;
}

    .dashboardBox1:nth-child(1) {
        background-color: #ece9f0;
    }

    .dashboardBox2:nth-child(2) {
        background-color: #ece9f0;
    }

    .dashboardBox3:nth-child(3) {
        background-color: #ece9f0;
    }

    .dashboardBox4:nth-child(4) {
        background-color: #ece9f0;
    }
    .dashboardBox1:hover {
        transform: scale(1.01);
    }

    .dashboardBox2:hover {
        transform: scale(1.01);
    }

    .dashboardBox3:hover {
        transform: scale(1.01);
    }

    .dashboardBox4:hover {
        transform: scale(1.01);
    }
    .dashboardBox1 > * {
        padding: 10px;
        height: 300px;
    }
    .dashboardBox2 > * {
        padding: 10px;
        height: 300px;
    }
    .dashboardBox3 > * {
        padding: 10px;
        height: 300px;
    }
    .dashboardBox4 > * {
        padding: 10px;
        height: 300px;
    }
.dashboardTitle {
    color: #323036;
    display: flex;
    align-items: center;
}
.spacer {
    flex: 1; /* Takes up remaining space */
}
.buttonsDiv {
    display: flex;
    justify-content: flex-end;
}
/*Modal styles*/
.task-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

    .task-item span {
        margin: 5px 0;
    }

.styled-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    appearance: none;
}

    .styled-select option {
        padding: 10px;
        font-size: 16px;
        color: #333;
    }
.form-group {
    margin-bottom: 20px;
}

.custom-file-label {
    position: relative;
    display: inline-block;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: .25rem;
    overflow: hidden;
}