@model EnterpriseMaster.DbServices.Models.Database.AboutPage
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/about.css" rel="stylesheet" type="text/css">
<div class="headerPrivacy">
    <h1>About Us</h1>
</div>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
        @if (Model.OurMission != null)
        {
            <img class="mainImg" src="data:image;base64,@Convert.ToBase64String(Model.OurMission)">
        }
        <div class="allText aboveText">
            <p class="text-blk headingText">
                Our Mission
            </p>
            <p class="text-blk subHeadingText">
                Empower businesses with a comprehensive Enterprise Resource Planning (ERP) system that optimizes every aspect of their operations.
            </p>
            <p class="text-blk description">
                We strive to provide innovative software solutions that enhance efficiency, streamline processes, and enable organizations to reach their full potential. Our commitment lies in delivering robust ERP modules, such as Sales Management, Inventory Management, Financial Management, CRM, Production Management, HR, Project Management, and Analytics & Reporting. We aim to equip companies with the tools they need to excel in today's competitive landscape.
            </p>
        </div>
    </div>
    <div class="responsive-container-block Container bottomContainer">
        @if (Model.OurVision != null)
        {
            <img class="mainImg" src="data:image;base64,@Convert.ToBase64String(Model.OurVision)">
        }
        <div class="allText bottomText">
            <p class="text-blk headingText">
                Our Vision
            </p>
            <p class="text-blk subHeadingText">
                Is to be the industry leader in ERP solutions, offering businesses a platform that transforms the way they operate.
            </p>
            <p class="text-blk description">
                We envision a future where businesses can easily manage and scale their operations with confidence. Through our ERP system, we aim to revolutionize the Sales Management process, optimize Inventory Management, provide deep insights into Financial Management, facilitate seamless Customer Relationship Management, support efficient Production Management, streamline Human Resources Management, empower Project Management, and deliver exceptional Analytics & Reporting capabilities. We are dedicated to shaping the future of business management by continually evolving our ERP system to meet the evolving needs of our clients.
            </p>
        </div>
    </div>
    <div class="responsive-container-block Container">
        @if (Model.AboutUs != null)
        {
            <img class="mainImg" src="data:image;base64,@Convert.ToBase64String(Model.AboutUs)">
        }
        <div class="allText aboveText">
            <p class="text-blk headingText">
                About Us
            </p>
            <p class="text-blk subHeadingText">
                Enterprise Master is a forward-thinking technology company dedicated to delivering innovative ERP solutions that transform the way businesses operate.
            </p>
            <p class="text-blk description">
                Our journey began with a passion for simplifying complex processes and a commitment to enhancing efficiency. Today, we are proud to offer a comprehensive suite of ERP modules that cover every facet of business operations. Our company is driven by a team of experts who share a common goal: to empower businesses with the tools and insights they need to thrive in a competitive market. We take pride in our deep-rooted commitment to customer satisfaction, continuous innovation, and staying at the forefront of technology. As we move forward, we remain dedicated to shaping the future of business management, providing tailored solutions for a wide range of industries, and ensuring that our clients can navigate the ever-evolving business landscape with confidence.
            </p>
        </div>
    </div>
</div>