@model EnterpriseMaster.DbServices.Models.Database.BasicPlanPage
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/subscriptions.css" rel="stylesheet" type="text/css">
<br />
<br />
<div class="basic-subscription-details">
    <h1>Essential Features for Small Businesses</h1>
    <p>Ideal for startups and small companies. Create offers, manage orders, track inventory, and generate invoices.</p>
</div>
<div class="basic-subscription-container">
    <div class="basic-subscription-container">
        <div class="basic-feature">
            @if (Model.BasicSales != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.BasicSales)" alt="Sales">
            }
            <div class="basic-feature-text">
                <h2>Basic Sales</h2>
                <p>Our Sales module empowers your business to create, manage, and optimize offers for your products and services. Seamlessly track orders and generate professional invoices to streamline your sales process and enhance customer satisfaction.</p>
            </div>
        </div>
        <div class="basic-feature">
            <div class="basic-feature-text">
                <h2>Basic Inventory</h2>
                <p>Efficiently manage your inventory and stock levels with our Inventory module. Stay organized with real-time tracking, keep your products well-stocked, and ensure smoother operations to provide top-notch customer service.</p>
            </div>
            @if (Model.BasicInventory != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.BasicInventory)" alt="Inventory">
            }
        </div>
        <div class="basic-feature">
            @if (Model.BasicFinancialManagement != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.BasicFinancialManagement)" alt="Basic Financial Management">
            }
            <div class="basic-feature-text">
                <h2>Basic Financial Management</h2>
                <p>Take control of your finances with ease using our Basic Financial Management module. Manage expenses, monitor income, and generate insightful financial reports for informed decision-making. Ensure your financial health and plan for a prosperous future.</p>
            </div>
        </div>
        <div class="basic-feature">
            <div class="basic-feature-text">
                <h2>Create Offers</h2>
                <p>Create compelling offers and promotions to attract customers and boost sales. Our intuitive tools make it easy to design and customize offers that fit your business needs.</p>
            </div>
            @if (Model.CreateOffers != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.CreateOffers)" alt="Create Offers">
            }
        </div>
        <div class="basic-feature">
            @if (Model.ManageOrders != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.ManageOrders)" alt="Manage Orders">
            }
            <div class="basic-feature-text">
                <h2>Manage Orders</h2>
                <p>Efficiently manage incoming orders, process them, and provide real-time order tracking for your customers. Enhance order fulfillment and customer satisfaction.</p>
            </div>
        </div>
        <div class="basic-feature">
            <div class="basic-feature-text">
                <h2>Generate Invoices</h2>
                <p>Create professional invoices, send them to your customers, and ensure timely payment. Simplify your billing process and maintain financial transparency.</p>
            </div>
            @if (Model.GenerateInvoices != null)
            {
                <img class="basic-subscription-img" src="data:image;base64,@Convert.ToBase64String(Model.GenerateInvoices)" alt="Generate Invoices">
            }
        </div>
    </div>
</div>
<div class="subscription-container-pay">
    <div class="buy-now-container">
        <button class="button-71" onclick="location.href='@Url.Action("Index", "Checkout")'">Buy Now</button>
        <p class="buy-now-description">Get started with these essential features for your small business.</p>
    </div>
</div>